/*  your css code here. If applicable */
body{
	background-color:  rgb(204, 204, 204);
}
h1,h2{
	text-align: center;
}
.player_one, .player_two {
            background-color: rgb(255, 255, 255);
            padding: 10px;
            border-radius: 10px;
            margin: 20px auto;
            width: 50%;
}

a{
	text-decoration-line: none
}

ul{
	border: 1px solid black;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	margin: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.container {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
